@tailwind base;
@tailwind components;
@tailwind utilities;

/* Palette */
:root {
  --background: #ffffff;
  --foreground: #0E001A;
  --white: #ffffff;
  --black: #0e001a;
  --blue: #0009ff;
  --pink: #ff1078;
  --yellow: #ffb13d;
  --green: #00f0ab;
  --purple: #9709e4;
  --gray: #d1caf1;
}


/* General */
html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Silka Regular', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

body.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

h2 {
  line-height: 1.75rem;
}

/* Button Styles */
.button {
  @apply bg-blue text-white font-medium px-6 py-3 text-md rounded-md transition-all inline-block leading-none;
}

.button:hover {
  @apply bg-black text-white;
}

.button-alt {
  @apply bg-white text-black font-medium text-md rounded-md transition-all leading-none px-6 py-3;
}

.button-alt:hover {
  @apply bg-black text-white cursor-pointer;
}

.button-blue {
  @apply bg-blue text-white font-medium px-6 py-3.5 text-md rounded-md transition-all leading-none;
}

.button-blue:hover {
  @apply bg-white text-black;
}

* {
  box-sizing: border-box;
}

/* Modal styles for Limitless CTA */
.modal-open {
  overflow: hidden;
}

.shadow-3xl {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
